@use "styles/variables" as *;

:export {
    baseTransition: $transition-general-time;
}

@mixin dotSeparator() {
    content: '';
    position: absolute;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $white;
}

.container {
    position: fixed;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    background: rgba($black, .8);

    &.animateIn {
        animation: opacityIn $transition-general forwards;

        .panel {
            transform: translateY(100%);
            animation: transformIn $transition-general forwards $transition-general-half;
        }
    }

    &.animateOut {
        animation: opacityOut $transition-general forwards;
    }
}

.panel {
    position: relative;
    width: 100%;
    height: 50vh;
    border: 2px solid $orange;
    border-radius: 10px 10px 0 0;
    background: $black;

    > div {
        height: 100%;
    }
}

.panelContent {
    display: flex;
    height: 100%;
    padding: 48px 0 30px;
}

.poster {
    flex: 0 0 300px;
    height: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    @media (max-width: $tablet) {
        flex: 0 0 246px;
    }

    @media (max-width: $phone) {
        display: none;
    }
}

.content {
    overflow: auto;
    flex: 1 1 auto;
    font-size: 16px;
    color: $white;
    margin-left: 30px;

    @media (max-width: $phone) {
        margin-left: 0;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 30px;
    }
}

.meta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: $dark-orange;

    @media (max-width: $phone) {
        display: block;
    }
}

.info {
    position: relative;
    margin-right: 15px;
    padding-right: 15px;

    @media (max-width: $phone) {
        margin: 0 0 15px;
        padding-right: 0;
    }

    &:after {
        @include dotSeparator;

        @media (max-width: $phone) {
            display: none;
        }
    }

    span:not(:last-child) {
        display: inline-block;
        position: relative;
        padding-right: 15px;
        margin-right: 15px;

        &:after {
            @include dotSeparator;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.tag {
    border-radius: 30px;
    margin: 10px 15px 0 0;
    padding: 5px 10px;
    background: $beige;
    color: $dark-orange;
    line-height: 1;
}

.involved {
    margin-bottom: 30px;
    font-size: 18px;

    p {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    span {
        margin-right: 10px;
        color: $dark-orange;
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    background: $orange;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        height: 80%;
        width: 2px;
        background: $white;
    }

    &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@keyframes opacityIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes opacityOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes transformIn {
    0% { transform: translateY(100%) }
    100% { transform: translateY(0) }
}
