@use "variables" as *;
@use "utils" as *;

.home {
  position: relative;
  min-height: 100vh;
  padding-bottom: 120px;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: $orange;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }
}

.movies {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: -40px -15px;
}

.movie {
  flex: 0 1 25%;
  padding: 40px 15px 0;

  @media (max-width: $tablet) {
    flex: 0 1 33.33%;
  }

  @media (max-width: $phone) {
    flex: 0 1 50%;
  }

  @media (max-width: $phone-xs) {
    flex: 0 1 100%;
  }
}

.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: $white;
  box-shadow: 0 3px 9px 0 $dark-orange;
  opacity: 0;
  transition: $transition-general;

  @media (max-width: $tablet) {
    width: 40px;
    height: 40px;
    bottom: 80px;
  }

  &:after {
    @include chevron;

    content: '';
    margin-top: 5px;

    @media (max-width: $tablet) {
      @include chevron(15px, 3px);
      margin-top: 5px;
    }
  }

  &.visible {
    opacity: 1;
  }
}
